.benefits {
  padding-top: 94px;
}

.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__box {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__subtitle {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
