.join {
  margin-right: 93px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  justify-content: center;
}

.join__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & > svg {
    fill: currentColor;
  }
  &:hover,
  &:focus {
    background-color: var(--focus-text-color);
  }
}
