.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(100%);
  @media screen and (min-width: 768px) {
    display: none;
  }
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu.is-open {
  transform: translateX(0);
}

.menu__btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
  z-index: 1;
  &:hover,
  &:focus {
    fill: var(--focus-text-color);
  }
}

.menu__btn--close {
  display: none;
}

.menu__btn.is-open .menu__btn--open {
  display: none;
}

.menu__btn.is-open .menu__btn--close {
  display: block;
}
